:root {
    --fw-heading-regular: 400;
    --fw-heading-bold: 700;
    --fw-body-regular: 400;

    --ff-body: "Mona Sans", serif;
    --ff-heading: "Charm", serif;

    --fs-heading: 5rem;
    --fs-body: 1.325rem;

}

/* General Styling */
*, 
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: #fff;
    margin: 0;
    font-family: var(--ff-body);
    font-weight: var(--fw-body-regular);
    letter-spacing: 3px;
    background-color: blueviolet;
}

h1, h2, ul {
    margin-top: 0;
}

img {
    max-width: 100%;
}

/* Reusable classes */
.container {
    width: 85%;
    margin: 0 auto;
    text-align: center;
}
.row {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Custom styling */
.intro-heading {
    font-family: var(--ff-heading);
    font-weight: var(--fw-heading-bold);
    font-size: var(--fs-heading);
    line-height: 0.2;
}

.intro-paragraph {
    font-size: var(--fs-body);
    letter-spacing: 2px;
    margin-bottom: 2em;
}

.btn {
    padding: 1em 2em;
    border: none;
    border-radius: 100px;
}

.btn:hover, 
.btn:focus {
    opacity: 0.75;
}